# SPDX-FileCopyrightText: none
#
# SPDX-License-Identifier: 0BSD

# Build artifacts
/_build/

# Python
/.venv/
__pycache__/

# Fontlab backups
/sources/*.*.ufo

# pysilfont debris
/sources/logs/
/sources/backups/
