<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ascender</key>
  <integer>894</integer>
  <key>capHeight</key>
  <integer>645</integer>
  <key>copyright</key>
  <string>2023 The Lambda Fonts Project Authors</string>
  <key>descender</key>
  <integer>-246</integer>
  <key>familyName</key>
  <string>Lambda Serif</string>
  <key>guidelines</key>
  <array>
    <dict>
      <key>y</key>
      <real>348.5</real>
    </dict>
    <dict>
      <key>y</key>
      <integer>-319</integer>
    </dict>
    <dict>
      <key>y</key>
      <integer>747</integer>
    </dict>
    <dict>
      <key>name</key>
      <string>H-Höhe</string>
      <key>y</key>
      <integer>645</integer>
    </dict>
    <dict>
      <key>name</key>
      <string>p-Tiefe</string>
      <key>y</key>
      <integer>-232</integer>
    </dict>
    <dict>
      <key>name</key>
      <string>f-Höhe</string>
      <key>y</key>
      <integer>698</integer>
    </dict>
    <dict>
      <key>name</key>
      <string>x-Höhe</string>
      <key>y</key>
      <integer>434</integer>
    </dict>
    <dict>
      <key>y</key>
      <integer>733</integer>
    </dict>
    <dict>
      <key>x</key>
      <integer>1237</integer>
    </dict>
    <dict>
      <key>x</key>
      <integer>-497</integer>
    </dict>
    <dict>
      <key>y</key>
      <integer>658</integer>
    </dict>
    <dict>
      <key>y</key>
      <integer>645</integer>
    </dict>
    <dict>
      <key>y</key>
      <integer>-141</integer>
    </dict>
    <dict>
      <key>y</key>
      <integer>-10</integer>
    </dict>
    <dict>
      <key>y</key>
      <integer>444</integer>
    </dict>
    <dict>
      <key>y</key>
      <integer>321</integer>
    </dict>
    <dict>
      <key>y</key>
      <integer>434</integer>
    </dict>
    <dict>
      <key>y</key>
      <integer>0</integer>
    </dict>
    <dict>
      <key>y</key>
      <integer>72</integer>
    </dict>
    <dict>
      <key>y</key>
      <integer>-110</integer>
    </dict>
  </array>
  <key>italicAngle</key>
  <integer>0</integer>
  <key>openTypeGaspRangeRecords</key>
  <array>
    <dict>
      <key>rangeGaspBehavior</key>
      <array>
        <integer>1</integer>
      </array>
      <key>rangeMaxPPEM</key>
      <integer>8</integer>
    </dict>
    <dict>
      <key>rangeGaspBehavior</key>
      <array>
        <integer>0</integer>
      </array>
      <key>rangeMaxPPEM</key>
      <integer>17</integer>
    </dict>
    <dict>
      <key>rangeGaspBehavior</key>
      <array>
        <integer>0</integer>
        <integer>1</integer>
      </array>
      <key>rangeMaxPPEM</key>
      <integer>65535</integer>
    </dict>
  </array>
  <key>openTypeHeadCreated</key>
  <string>2023/10/22 23:45:27</string>
  <key>openTypeHheaAscender</key>
  <integer>894</integer>
  <key>openTypeHheaDescender</key>
  <integer>-246</integer>
  <key>openTypeHheaLineGap</key>
  <integer>0</integer>
  <key>openTypeNameDesigner</key>
  <string>Philipp H. Poll, Khaled Hosny</string>
  <key>openTypeNameLicense</key>
  <string>This Font Software is licensed under the SIL Open Font License, Version 1.1</string>
  <key>openTypeNameLicenseURL</key>
  <string>https://scripts.sil.org/OFL</string>
  <key>openTypeNameManufacturer</key>
  <string>Lynn Kirby</string>
  <key>openTypeNameManufacturerURL</key>
  <string>https://github.com/LynnKirby/lambda-fonts</string>
  <key>openTypeOS2FamilyClass</key>
  <array>
    <integer>1</integer>
    <integer>5</integer>
  </array>
  <key>openTypeOS2Selection</key>
  <array>
    <integer>7</integer>
  </array>
  <key>openTypeOS2Type</key>
  <array/>
  <key>openTypeOS2TypoAscender</key>
  <integer>894</integer>
  <key>openTypeOS2TypoDescender</key>
  <integer>-246</integer>
  <key>openTypeOS2TypoLineGap</key>
  <integer>0</integer>
  <key>openTypeOS2WeightClass</key>
  <integer>700</integer>
  <key>openTypeOS2WidthClass</key>
  <integer>5</integer>
  <key>openTypeOS2WinAscent</key>
  <integer>894</integer>
  <key>openTypeOS2WinDescent</key>
  <integer>246</integer>
  <key>openTypeVheaVertTypoLineGap</key>
  <integer>0</integer>
  <key>postscriptBlueValues</key>
  <array>
    <integer>-12</integer>
    <integer>1</integer>
    <integer>433</integer>
    <integer>447</integer>
    <integer>460</integer>
    <integer>474</integer>
    <integer>600</integer>
    <integer>610</integer>
    <integer>645</integer>
    <integer>662</integer>
    <integer>690</integer>
    <integer>698</integer>
  </array>
  <key>postscriptFontName</key>
  <string>LambdaSerif-Bold</string>
  <key>postscriptFullName</key>
  <string>Lambda Serif Bold</string>
  <key>postscriptOtherBlues</key>
  <array>
    <integer>-238</integer>
    <integer>-212</integer>
  </array>
  <key>postscriptSlantAngle</key>
  <integer>0</integer>
  <key>postscriptStemSnapH</key>
  <array>
    <integer>40</integer>
  </array>
  <key>postscriptStemSnapV</key>
  <array>
    <integer>130</integer>
    <integer>140</integer>
  </array>
  <key>postscriptUnderlinePosition</key>
  <integer>-78</integer>
  <key>postscriptUnderlineThickness</key>
  <integer>40</integer>
  <key>postscriptWeightName</key>
  <string>Bold</string>
  <key>styleName</key>
  <string>Bold</string>
  <key>unitsPerEm</key>
  <integer>1000</integer>
  <key>versionMajor</key>
  <integer>1</integer>
  <key>versionMinor</key>
  <integer>0</integer>
  <key>xHeight</key>
  <integer>433</integer>
</dict>
</plist>
