<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>breve.cyr</key>
  <string>breve.cyr.glif</string>
  <key>breve.cyrcap</key>
  <string>breve.cyrcap.glif</string>
  <key>q.sc.u</key>
  <string>q.sc.u.glif</string>
  <key>uni20BF</key>
  <string>uni20B_F_.glif</string>
</dict>
</plist>
