<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>754</integer>
    <key>capHeight</key>
    <integer>645</integer>
    <key>descender</key>
    <integer>-246</integer>
    <key>familyName</key>
    <string>Libertinus Serif</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>y</key>
        <real>733.0</real>
      </dict>
      <dict>
        <key>y</key>
        <real>358.299987793</real>
      </dict>
      <dict>
        <key>y</key>
        <real>-319.0</real>
      </dict>
      <dict>
        <key>x</key>
        <real>-92.5</real>
      </dict>
      <dict>
        <key>name</key>
        <string>x-Höhe</string>
        <key>y</key>
        <real>429.0</real>
      </dict>
      <dict>
        <key>name</key>
        <string>q-Tiefe</string>
        <key>y</key>
        <real>-233.0</real>
      </dict>
      <dict>
        <key>name</key>
        <string>H-Höhe</string>
        <key>y</key>
        <real>645.0</real>
      </dict>
      <dict>
        <key>name</key>
        <string>f-Höhe</string>
        <key>y</key>
        <real>698.0</real>
      </dict>
      <dict>
        <key>y</key>
        <real>658.0</real>
      </dict>
      <dict>
        <key>y</key>
        <real>-141.0</real>
      </dict>
      <dict>
        <key>y</key>
        <real>658.0</real>
      </dict>
      <dict>
        <key>y</key>
        <real>-10.0</real>
      </dict>
      <dict>
        <key>y</key>
        <real>439.0</real>
      </dict>
      <dict>
        <key>y</key>
        <real>321.0</real>
      </dict>
      <dict>
        <key>y</key>
        <real>76.0</real>
      </dict>
      <dict>
        <key>y</key>
        <real>647.0</real>
      </dict>
      <dict>
        <key>y</key>
        <real>-110.0</real>
      </dict>
    </array>
    <key>italicAngle</key>
    <real>-12.0</real>
    <key>note</key>
    <string>2003-08-29: Created.
2004-07-25: v(1.0) release candidate
2005-12-28: v(1.1.0)stable
2006-05-01: v(2.0.0)stable
2007-01-10: v(2.3.0)stable</string>
    <key>openTypeHeadCreated</key>
    <string>2006/08/13 23:02:02</string>
    <key>openTypeHheaAscender</key>
    <integer>894</integer>
    <key>openTypeHheaDescender</key>
    <integer>-246</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Philipp H. Poll, Khaled Hosny</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1</string>
    <key>openTypeNameLicenseURL</key>
    <string>https://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Caleb Maclennan</string>
    <key>openTypeNameManufacturerURL</key>
    <string>https://github.com/alerque/libertinus</string>
    <key>openTypeOS2FamilyClass</key>
    <array>
      <integer>1</integer>
      <integer>5</integer>
    </array>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>894</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-246</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>QUE </string>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>894</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>246</integer>
    <key>openTypeVheaVertTypoLineGap</key>
    <integer>0</integer>
    <key>postscriptBlueScale</key>
    <real>0.0366667</real>
    <key>postscriptBlueValues</key>
    <array>
      <real>-12.0</real>
      <real>1.0</real>
      <real>429.0</real>
      <real>442.0</real>
      <real>460.0</real>
      <real>474.0</real>
      <real>567.0</real>
      <real>578.0</real>
      <real>645.0</real>
      <real>658.0</real>
      <real>688.0</real>
      <real>698.0</real>
    </array>
    <key>postscriptFamilyBlues</key>
    <array>
      <real>-12.0</real>
      <real>0.0</real>
      <real>429.0</real>
      <real>442.0</real>
      <real>460.0</real>
      <real>474.0</real>
      <real>567.0</real>
      <real>578.0</real>
      <real>645.0</real>
      <real>658.0</real>
      <real>688.0</real>
      <real>698.0</real>
    </array>
    <key>postscriptFamilyOtherBlues</key>
    <array>
      <real>-235.0</real>
      <real>-227.0</real>
    </array>
    <key>postscriptFontName</key>
    <string>LibertinusSerif-Italic</string>
    <key>postscriptFullName</key>
    <string>Libertinus Serif Italic</string>
    <key>postscriptOtherBlues</key>
    <array>
      <real>-238.0</real>
      <real>-227.0</real>
    </array>
    <key>postscriptSlantAngle</key>
    <real>-12.0</real>
    <key>postscriptStemSnapH</key>
    <array>
      <real>39.0</real>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <real>76.0</real>
    </array>
    <key>postscriptUnderlinePosition</key>
    <real>-78.0</real>
    <key>postscriptUnderlineThickness</key>
    <real>40.0</real>
    <key>postscriptWeightName</key>
    <string>Regular</string>
    <key>styleName</key>
    <string>Italic</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>5</integer>
    <key>xHeight</key>
    <integer>429</integer>
  </dict>
</plist>
