<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ascender</key>
  <integer>754</integer>
  <key>capHeight</key>
  <integer>645</integer>
  <key>descender</key>
  <integer>-246</integer>
  <key>familyName</key>
  <string>Libertinus Serif</string>
  <key>guidelines</key>
  <array>
    <dict>
      <key>y</key>
      <integer>733</integer>
    </dict>
    <dict>
      <key>y</key>
      <real>358.299988</real>
    </dict>
    <dict>
      <key>y</key>
      <integer>-319</integer>
    </dict>
    <dict>
      <key>x</key>
      <real>-92.5</real>
    </dict>
    <dict>
      <key>name</key>
      <string>x-Höhe</string>
      <key>y</key>
      <integer>429</integer>
    </dict>
    <dict>
      <key>name</key>
      <string>q-Tiefe</string>
      <key>y</key>
      <integer>-233</integer>
    </dict>
    <dict>
      <key>name</key>
      <string>H-Höhe</string>
      <key>y</key>
      <integer>645</integer>
    </dict>
    <dict>
      <key>name</key>
      <string>f-Höhe</string>
      <key>y</key>
      <integer>698</integer>
    </dict>
    <dict>
      <key>y</key>
      <integer>658</integer>
    </dict>
    <dict>
      <key>y</key>
      <integer>-141</integer>
    </dict>
    <dict>
      <key>y</key>
      <integer>658</integer>
    </dict>
    <dict>
      <key>y</key>
      <integer>-10</integer>
    </dict>
    <dict>
      <key>y</key>
      <integer>439</integer>
    </dict>
    <dict>
      <key>y</key>
      <integer>321</integer>
    </dict>
    <dict>
      <key>y</key>
      <integer>76</integer>
    </dict>
    <dict>
      <key>y</key>
      <integer>647</integer>
    </dict>
    <dict>
      <key>y</key>
      <integer>-110</integer>
    </dict>
  </array>
  <key>italicAngle</key>
  <integer>-12</integer>
  <key>note</key>
  <string>2003-08-29: Created.
2004-07-25: v(1.0) release candidate
2005-12-28: v(1.1.0)stable
2006-05-01: v(2.0.0)stable
2007-01-10: v(2.3.0)stable</string>
  <key>openTypeHeadCreated</key>
  <string>2023/10/22 21:08:36</string>
  <key>openTypeHheaAscender</key>
  <integer>894</integer>
  <key>openTypeHheaDescender</key>
  <integer>-246</integer>
  <key>openTypeHheaLineGap</key>
  <integer>0</integer>
  <key>openTypeNameDesigner</key>
  <string>Philipp H. Poll, Khaled Hosny</string>
  <key>openTypeNameLicense</key>
  <string>This Font Software is licensed under the SIL Open Font License, Version 1.1</string>
  <key>openTypeNameLicenseURL</key>
  <string>https://scripts.sil.org/OFL</string>
  <key>openTypeNameManufacturer</key>
  <string>Caleb Maclennan</string>
  <key>openTypeNameManufacturerURL</key>
  <string>https://github.com/alerque/libertinus</string>
  <key>openTypeOS2FamilyClass</key>
  <array>
    <integer>1</integer>
    <integer>5</integer>
  </array>
  <key>openTypeOS2Selection</key>
  <array>
    <integer>7</integer>
  </array>
  <key>openTypeOS2Type</key>
  <array/>
  <key>openTypeOS2TypoAscender</key>
  <integer>894</integer>
  <key>openTypeOS2TypoDescender</key>
  <integer>-246</integer>
  <key>openTypeOS2TypoLineGap</key>
  <integer>0</integer>
  <key>openTypeOS2VendorID</key>
  <string>QUE </string>
  <key>openTypeOS2WeightClass</key>
  <integer>400</integer>
  <key>openTypeOS2WidthClass</key>
  <integer>5</integer>
  <key>openTypeOS2WinAscent</key>
  <integer>894</integer>
  <key>openTypeOS2WinDescent</key>
  <integer>246</integer>
  <key>openTypeVheaVertTypoLineGap</key>
  <integer>0</integer>
  <key>postscriptBlueScale</key>
  <real>0.036667</real>
  <key>postscriptBlueValues</key>
  <array>
    <integer>-12</integer>
    <integer>1</integer>
    <integer>429</integer>
    <integer>442</integer>
    <integer>460</integer>
    <integer>474</integer>
    <integer>567</integer>
    <integer>578</integer>
    <integer>645</integer>
    <integer>658</integer>
    <integer>688</integer>
    <integer>698</integer>
  </array>
  <key>postscriptFamilyBlues</key>
  <array>
    <integer>-12</integer>
    <integer>0</integer>
    <integer>429</integer>
    <integer>442</integer>
    <integer>460</integer>
    <integer>474</integer>
    <integer>567</integer>
    <integer>578</integer>
    <integer>645</integer>
    <integer>658</integer>
    <integer>688</integer>
    <integer>698</integer>
  </array>
  <key>postscriptFamilyOtherBlues</key>
  <array>
    <integer>-235</integer>
    <integer>-227</integer>
  </array>
  <key>postscriptFontName</key>
  <string>LibertinusSerif-Italic</string>
  <key>postscriptFullName</key>
  <string>Libertinus Serif Italic</string>
  <key>postscriptOtherBlues</key>
  <array>
    <integer>-238</integer>
    <integer>-227</integer>
  </array>
  <key>postscriptSlantAngle</key>
  <integer>-12</integer>
  <key>postscriptStemSnapH</key>
  <array>
    <integer>39</integer>
  </array>
  <key>postscriptStemSnapV</key>
  <array>
    <integer>76</integer>
  </array>
  <key>postscriptUnderlinePosition</key>
  <integer>-78</integer>
  <key>postscriptUnderlineThickness</key>
  <integer>40</integer>
  <key>postscriptWeightName</key>
  <string>Regular</string>
  <key>styleName</key>
  <string>Italic</string>
  <key>unitsPerEm</key>
  <integer>1000</integer>
  <key>versionMajor</key>
  <integer>5</integer>
  <key>xHeight</key>
  <integer>429</integer>
</dict>
</plist>
